@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');
body {
    font-family: 'Castoro', serif;
}
#slider {
    width: 200%;
    height: 100%;
    display: flex;
    transition: .5s;
}
.slid {
    width: 50%;
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#slid1 {
    background-image: url("https://media.gettyimages.com/photos/interior-of-modern-office-picture-id973712582?k=6&m=973712582&s=612x612&w=0&h=EgJES9Squ85XZg3jm9oafvtk5ongR5-BDve11eyvRno=");
}
#slid2 {
    background-image: url("https://media.gettyimages.com/photos/lockers-in-empty-high-school-corridor-picture-idsb10069478b-001?k=6&m=sb10069478b-001&s=612x612&w=0&h=9ZEkG3AXEtgj0KB3kDP4zR0zZoOfoOA-qj2HykaS5G4=");
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.596);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.content {

    margin-top: 25%;
}
.line {
    width: 100%;
    height: 3px;
    background-color: rgb(88, 192, 240);
}
h1 {
    font-size: 4rem;
    transition: .5s;
}
p {
    font-size: 1.5rem;
}
.contact {
    height: 40%;
}
footer {
    background-color: black;
    color: rgb(173, 182, 190);
}
footer p {
    font-size: 16px;
}